# DATABASE
DB_NAME=your-prod-db
DB_HOST=postgres-prod
DB_USERNAME=your-prod-user
DB_PASSWORD=-your-prod-secret
DB_PORT=5432

# JWT
JWT_SECRET=-your-prod-jwt-secret
JWT_EXPIRATION_MS=86400000

# USER
ADMIN_USERNAME=-your-admin-username
ADMIN_PASSWORD=your-prod-password

# AWS
AWS_REGION=us-east-1
AWS_S3_BUCKET=pocket-pdfs-bucket
AWS_S3_PREFIX=pdfs-prod/
AWS_ECR=some-number-here.dkr.ecr.us-east-1.amazonaws.com

# SENTRY
SPRING_SENTRY_DSN=https://<number>@<code>.ingest.us.sentry.io/<number>
VITE_SENTRY_DSN=https://<number>@<code>.ingest.us.sentry.io/<number>