# DATABASE
DB_NAME=your-staging-db
DB_HOST=postgres-staging
DB_USERNAME=your-staging-user
DB_PASSWORD=-your-staging-secret
DB_PORT=5432

# JWT
JWT_SECRET=-your-staging-jwt-secret
JWT_EXPIRATION_MS=86400000

# USER
ADMIN_USERNAME=-your-admin-username
ADMIN_PASSWORD=your-staging-password

# AWS
AWS_REGION=us-east-1
AWS_S3_BUCKET=pocket-pdfs-bucket
AWS_S3_PREFIX=pdfs-staging/
AWS_ECR=some-number-here.dkr.ecr.us-east-1.amazonaws.com

# SENTRY
SPRING_SENTRY_DSN=https://<number>@<code>.ingest.us.sentry.io/<number>
VITE_SENTRY_DSN=https://<number>@<code>.ingest.us.sentry.io/<number>